In [1]:
#pip install pandas
import pandas as pd

In [2]:
df = pd.read_csv('data/MonthlySales.csv')

In [3]:
df

         month      sales
0   2013-01-01   14236.90
1   2013-02-01    4519.89
2   2013-03-01   55691.01
3   2013-04-01   28295.35
4   2013-05-01   23648.29
5   2013-06-01   34595.13
6   2013-07-01   33946.39
7   2013-08-01   27909.47
8   2013-09-01   81777.35
9   2013-10-01   31453.39
10  2013-11-01   78628.72
11  2013-12-01   69545.62
12  2014-01-01   18174.08
13  2014-02-01   11951.41
14  2014-03-01   38726.25
15  2014-04-01   34195.21
16  2014-05-01   30131.69
17  2014-06-01   24797.29
18  2014-07-01   28765.33
19  2014-08-01   36898.33
20  2014-09-01   64595.92
21  2014-10-01   31404.92
22  2014-11-01   75972.56
23  2014-12-01   74919.52
24  2015-01-01   18542.49
25  2015-02-01   22867.71
26  2015-03-01   51186.22
27  2015-04-01   39248.59
28  2015-05-01   56691.08
29  2015-06-01   39430.44
30  2015-07-01   38440.76
31  2015-08-01   33265.56
32  2015-09-01   72908.11
33  2015-10-01   56463.13
34  2015-11-01   82192.32
35  2015-12-01   97237.42
36  2016-01-01   44703.14
37  2016-02-01   20301.13
38  2016-03-01   58872.35
39  2016-04-01   36521.54
40  2016-05-01   44261.11
41  2016-06-01   52981.73
42  2016-07-01   45264.42
43  2016-08-01   63120.89
44  2016-09-01   87866.65
45  2016-10-01   77776.92
46  2016-11-01  118447.83
47  2016-12-01   83829.32

In [13]:
import json
from pandas import json_normalize
with open('data/30DayQuakes.json') as dataFile:
    data=json.load(dataFile)
df= json_normalize(data['features'])
df

,type,id,properties.mag,properties.place,properties.time,properties.updated,properties.tz,properties.url,properties.detail,properties.felt,...,properties.types,properties.nst,properties.dmin,properties.rms,properties.gap,properties.magType,properties.type,properties.title,geometry.type,geometry.coordinates
0,Feature,ci39107167,1.54,"6km E of Ocotillo Wells, CA",1584583306820,1584583533644,-480,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,NaN,...,",geoserve,nearby-cities,origin,phase-data,scit...",33.0,0.08636,0.22,52.0,ml,earthquake,"M 1.5 - 6km E of Ocotillo Wells, CA",Point,"[-116.0666656, 33.1399994, 9.45]"
1,Feature,ci39107159,1.76,"13km SW of Searles Valley, CA",1584582156320,1584582392529,-480,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,NaN,...,",geoserve,nearby-cities,origin,phase-data,scit...",20.0,0.08628,0.22,87.0,ml,earthquake,"M 1.8 - 13km SW of Searles Valley, CA",Point,"[-117.4846667, 35.671, 0.94]"
2,Feature,ci39107151,1.16,"24km NNW of Searles Valley, CA",1584581785410,1584582003488,-480,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,NaN,...,",geoserve,nearby-cities,origin,phase-data,scit...",13.0,0.06565,0.16,97.0,ml,earthquake,"M 1.2 - 24km NNW of Searles Valley, CA",Point,"[-117.5241667, 35.9545, 2.65]"
3,Feature,ci39107143,1.13,"23km NNW of Searles Valley, CA",1584581367120,1584581595628,-480,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,NaN,...,",geoserve,nearby-cities,origin,phase-data,scit...",11.0,0.07543,0.12,170.0,ml,earthquake,"M 1.1 - 23km NNW of Searles Valley, CA",Point,"[-117.5116667, 35.9545, 3.25]"
4,Feature,nc73355800,0.99,"8km NW of The Geysers, CA",1584580824600,1584583205549,-480,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,NaN,...,",geoserve,nearby-cities,origin,phase-data,scit...",25.0,0.01056,0.03,50.0,md,earthquake,"M 1.0 - 8km NW of The Geysers, CA",Point,"[-122.8184967, 38.831665, 1.63]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11740,Feature,av70871309,0.19,"95km SE of King Salmon, Alaska",1581992582130,1582148568150,-540,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,NaN,...,",geoserve,origin,phase-data,",5.0,0.04412,0.01,240.0,ml,earthquake,"M 0.2 - 95km SE of King Salmon, Alaska",Point,"[-155.3518333, 58.1678333, 0.85]"
11741,Feature,nc73342595,1.43,"13km SSW of Toms Place, CA",1581992192550,1582337283806,-480,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,NaN,...,",geoserve,nearby-cities,origin,phase-data,scit...",23.0,0.14600,0.05,131.0,md,earthquake,"M 1.4 - 13km SSW of Toms Place, CA",Point,"[-118.7441667, 37.4603333, 3.56]"
11742,Feature,ak020292lr52,0.50,"12km ESE of North Nenana, Alaska",1581992025081,1582837368580,-540,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,NaN,...,",geoserve,origin,phase-data,",NaN,NaN,0.37,NaN,ml,earthquake,"M 0.5 - 12km ESE of North Nenana, Alaska",Point,"[-148.9023, 64.5203, 9.4]"
11743,Feature,ak020292lhwc,0.40,"12km NE of Redoubt Volcano, Alaska",1581991971813,1582837367818,-540,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,NaN,...,",geoserve,origin,phase-data,",NaN,NaN,0.38,NaN,ml,earthquake,"M 0.4 - 12km NE of Redoubt Volcano, Alaska",Point,"[-152.5636, 60.5608, 9.4]"
11744,Feature,nc73342590,0.74,"13km SE of Mammoth Lakes, CA",1581991911690,1582066743376,-480,https://earthquake.usgs.gov/earthquakes/eventp...,https://earthquake.usgs.gov/earthquakes/feed/v...,NaN,...,",geoserve,nearby-cities,origin,phase-data,scit...",10.0,0.03844,0.01,192.0,md,earthquake,"M 0.7 - 13km SE of Mammoth Lakes, CA",Point,"[-118.8618333, 37.5616667, 3.62]"

In [4]:
import json
from pandas import json_normalize

with open('data/monthlySalesbyCategoryMultiple.json') as json_data:
    d = json.load(json_data)

In [5]:
df = json_normalize(d['contents'], 'monthlySales', ['category', 'region'])

In [6]:
df

       month  sales    category region
0   20130101     38   Furniture   West
1   20130201     35   Furniture   West
2   20130301     41   Furniture   West
3   20130401     55   Furniture   West
4   20130501     58   Furniture   West
5   20130601     66   Furniture   West
6   20130701     74   Furniture   West
7   20130801     78   Furniture   West
8   20130901     38   Furniture   West
9   20131001     30   Furniture   West
10  20131101     26   Furniture   West
11  20131201     29   Furniture   West
12  20130101     54  Technology   West
13  20130201     66  Technology   West
14  20130301     77  Technology   West
15  20130401     70  Technology   West
16  20130501     60  Technology   West
17  20130601     63  Technology   West
18  20130701     55  Technology   West
19  20130801     47  Technology   West
20  20130901     55  Technology   West
21  20131001     30  Technology   West
22  20131101     22  Technology   West
23  20131201     77  Technology   West

In [15]:
#reading parquet into panda dataframe
import pyarrow.parquet as pq

In [16]:
table = pq.read_table('data/MonthlyProductSales.parquet')

In [17]:
table.to_pandas()

,Month of Order Date,Product Name,Sales
0,b'2017-01-13',b'Xerox 1972',11
1,b'2017-01-13',b'Xerox 1923',37
2,b'2017-01-13',b'Xerox 225',19
3,b'2017-01-13',b'Xerox 195',40
4,b'2017-01-13',b'Wireless Extenders zBoost YX545 SOHO Signal ...,756
...,...,...,...
9247,b'2017-12-16',b'14-7/8 x 11 Blue Bar Computer Printout Paper',96
9248,b'2017-12-16',"b'6"" Cubicle Wall Clock, Black'",10
9249,b'2017-12-16',b'3M Hangers With Command Adhesive',10
9250,b'2017-12-16',b'3.6 Cubic Foot Counter Height Office Refrige...,295
9251,b'2017-12-16',b'3-ring staple pack',9

In [19]:
# you need to install html5lib
# pip install html5lib lxml
# restart Jupyter Kernal if this step fails
#reading data from a html site
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._state_abbreviations')

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1002)>

In [ ]:
# get part that has the states and abbreviations
df_usa = df[0]

In [ ]:
# remove unnecessary rows and columns
final_df = df_usa.drop(df_usa.index[range(0,10)])

In [ ]:
# rename columns
#final_df.rename(index={0: 'Region Name', 1: 'Region Status', 2: 'ISO', 3: 'ANSI_Letter', 4: 'ANSI_Code'
#                         , 5: 'USPS', 6: 'USCG', 7: 'GPO', 8: 'AP', 9: 'Other Abbreviations'}, inplace=True)
final_df.columns= ['Region Name','Region Status','ISO','ANSI_Letter','ANSI_Code',
                   'USPS', 'USCG','GPO','AP','Other Abbreviations']
final_df

In [ ]:
# reset index of rows
final_df.reset_index(drop=True)

final_df